*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    height: 100vh;
    background: rgb(206, 197, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text{
    align-items: flex-start;
    font-size: 35px;
    color: rgb(80, 168, 139);
}
